[submodule "tools/autojump"]
	path = tools/autojump
	url = git://github.com/joelthelion/autojump.git
[submodule "tools/proxychains-ng"]
	path = tools/proxychains-ng
	url = https://github.com/rofl0r/proxychains-ng.git
[submodule "tools/powerline-fonts"]
	path = tools/powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "tools/raspi-tools"]
	path = tools/raspi-tools
	url = https://github.com/raspberrypi/tools
[submodule "tools/tig"]
	path = tools/tig
	url = https://github.com/jonas/tig.git
[submodule "tools/depot_tools"]
	path = tools/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
